.foreground {
    position: relative; 
    width: 100%;      
    height: 100vh;    
    overflow: hidden;  
}

.foreground-image {
    position: absolute; 
    top: 18%;
    left: auto;
    right: 5%; /* Align to the right side */
    margin-right: 0; /* Remove margin-right */
    width: 60%; /* Set smaller width */
    height: auto; /* Adjust height to maintain aspect ratio */
    object-fit: cover; 
    z-index: -1;       
}