.foreground {
    position: relative; 
    width: 100%;      
    height: 100vh;    
    overflow: hidden;  
}

.foreground-image {
    position: absolute; 
    top: 0;
    left: 35%;
    width: 678px;
    height: 697px;
    object-fit: cover; 
    z-index: -1;       
}
