.login-form {
  background: rgba(255, 255, 255, 0.3);
  padding: 5rem; /* Increased padding */
  border-radius: 10px;
  text-align: center;
  width: 17rem; /* Increased width by 25% */
  margin: 0 auto; 
  margin-left: 15rem; 
  margin-bottom: 4rem;
  position: relative; 
}

.form-logo {
  width: 9.4rem; /* Slightly enlarged logo */
  margin-bottom: 4rem; /* More space below the logo */
}

.form-control {
  width: 80%;
  margin-bottom: 20px; /* Increased space between inputs */
  padding: 12px; /* Increased padding */
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 50%;
  background-color: #a01212;
  color: white;
  border: none;
  padding: 12px; /* Increased padding */
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d41414; /* Change background color on hover */
  color: #fff; /* Ensure text color remains white */
}